body {
  background-color: #e6ecf0;
  font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tweet-section {
  margin: 0 30%;
  min-width: 400px;
}

.tweet-card {
  margin: 1px 0;
}

.reload {
  color: #1DA1F2;
  background-color: #f5f8fa;
  text-align: center;
  width: 100%;
  height: 35px;
  line-height: 35px;
}

.reload:hover {
  cursor: pointer;
  background-color: #e2e6e8;
}

.tweet {
  color: black;
  background-color: white;
  min-height: 100px;
  max-height: 230px;
}

.content {
  margin-left: 80px;
}
.tweet-text {
  display: inline;

}

.tweet:hover {
  color: black;
  background-color: #f5f8fa;
}

.avatar {
  border-radius: 50%;
  height: 55px;
  margin: 10px 10px;
  float: left;
  position: absolute;
}

.username {
  display: block;
  font-weight: 400;
}
